

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');
*{
    box-sizing: border-box;
    outline: none; /*Isso remove a caixinha preta que aparecia ao selecionar um formulario */
}

/* POP-UP */

.pop-up-wrapper * {
    box-sizing: border-box !important;
}

.pop-up-wrapper.active{
    visibility: visible;
    opacity: 1;
    z-index: 9999;
}

.pop-up-wrapper{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    
    visibility: hidden;
    opacity: 0;

    background: rgba(0, 0, 0, 0.6);
}

.pop-up-wrapper .pop-up{
    width: min(97%, 29rem);
    height: fit-content;
    position: fixed;

    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: #ffffff;
    border-radius: 0.2rem;

    visibility: hidden;
    opacity: 0;

    padding: 4rem 3rem;

    display: flex;
    flex-direction: column;
}

.pop-up-wrapper .pop-up>a, .pop-up-wrapper .pop-up>a img {
    width: 2.5rem;
    height: 2.5rem;
    align-self: flex-end;
}

.pop-up-wrapper .pop-up h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
    margin-bottom: 1rem;
}

.pop-up-wrapper .pop-up form {
    display: flex;
    flex-direction: column;
}

.pop-up-wrapper .pop-up label {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-left: 1rem;
}

a.esqueci {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #8B008B;
}

.pop-up form .input {
    display: flex;
    background-color: #FCF2F8;
    border:none;
    border-radius: 50px;
    padding: 0 15px;
    text-align: left;
    width: 100%;
}

.pop-up form .input input {
    background: none;
    user-select: none;
    color: #702082;
}

.pop-up-wrapper .pop-up form > input, .pop-up form .input {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.pop-up .button {
    align-self: flex-end;
    justify-self: flex-end;
}

.pop-up button {
    padding: 0.6rem 1.3rem;
}

.pop-up-wrapper .pop-up.active {
    visibility: visible;
    opacity: 1;
}

.pop-up input{
    background-color: #FCF2F8;
    border:none;
    border-radius: 50px;
    padding: 15px;
    text-align: left;
    width: 100%;
    font-size: 16px;
}

.pop-up input[type=text]{
    color:#702082;
    font-size: 16px;
}

.pop-up input::placeholder{
    color: #8B008B;
    font-size: 16px;
}

/* ------ */

body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color:  #702082;
    font-size: 18px;
}
.container{
    width: 1000px;
    max-width: 90%;
    margin: 0 auto;
}

/* HEADER */
header .container{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
header ul{
    list-style: none;
    margin: 0;
}
header ul a{
    text-decoration: none;
    color: #702082;
}
header ul li{
    display: inline-block;
    padding: 0 12px;
}

.logo {
    display: flex;
    align-items: center;
    
}
.logo p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0 0 0 10px;
    font-size: 25px;
}
.logo span{
    text-transform: uppercase;
    font-weight: 600;
}
/* Navegacao */
header #menu, header #sair{
    display: none;
}
.navegacao{
    display: flex;
    align-items: center;
}
.navegacao button{
    border:none;
    border-radius: 20px;
    background-color:#702082;
    color: white;
    padding: 12px;
    cursor: pointer;
}
header #login{
    cursor: pointer;
}
header #cadastro button:hover{
    background-color: #8B008B;
}

button {
    border:none;
    border-radius: 25px;
    background-color:#702082;
    color: white;
    padding: 12px;
    cursor: pointer;
    font-size: 18px;
}
button:hover {
    background-color: #8B008B;
}

/* FOOTER */
footer{
    background-color:#702082;
    color: white;
    font-weight: 200;
}
footer .container .conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    

}
footer .socialMedia ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center; 

}
footer .logo{
    display: flex;
}
footer .left .logo .texto{
    margin-left: 30px;
    width: 60%;
}
footer span{
    text-transform: uppercase;
    font-weight: 600;
}
footer .left .logo .texto>p{
    font-size: 18px;
    font-weight: 200;
}
footer .left .logo .texto h3{
    font-size: 60px;
    font-weight: 200;
    margin: 0 0 10px 0;
}
footer .texto>h3{
    font-family: 'Poppins', sans-serif;
}
footer .left>p{
    margin-top: 50px;
    margin-bottom: 0;
}
footer .container p{
    margin: 0;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    
}
footer .socialMedia h3{
    text-transform: uppercase;
}
footer .socialMedia{
    width: 30%;
}

/* RESPONSIVIDADE */
@media (max-width:1040px){
    /* FOOTER */
    footer .socialMedia{
        align-items: center;
    }
    footer .left .logo .texto{
        margin-left: 10px;
        width: 50%;
    } 
    footer .left .logo .texto p{
        text-align: left;
    } 
    footer .left .logo .texto h3{
        font-size: 50px;
    }
    footer .socialMedia{
        width: 60%;
    }
    /* Menu mobile */
    header #menu{
    display: block;
    color: #702082;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    background-color: transparent;
    font-size: 25px;
    align-self: center;
    }
    .navegacao{
    display: none;
    }
    #menuMobile{
    text-align: left;
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    padding: 2em;
    top: 0;
    right: 0;
    background: #702082;
    color:white;
    }
    #menuMobile ul li{
    display: block;
    margin: 0;
    padding: 15px 0;
    font-size: 20px;
    text-align: center;
    }
    #menuMobile ul {
    margin: 30px 0;
    padding: 0;
    }
    #menuMobile a{
    color: white;
    }
    #menuMobile button:active{
    background-color:#702082;
    color: white;
    }
    header #sair{
    display: block;
    background-color: white;
    border-radius: 50px;
    padding: 5px 8px;
    }
    header #sair img{
    width: 30px;
    height: auto;
    }
    header #cadastro button {
    background-color: white;
    color: #702082;
    margin-top: 30px;
    font-size: 20px;
    border-radius: 30px;
    }
}

@media (max-width:960px){
/* FOOTER E HEADER  */
footer .logo{
    justify-content: center;
    }
footer .container .conteudo{
    flex-wrap: wrap;
    justify-content: center;
}
footer .socialMedia h3{
    text-align: center;
}
footer .container p{
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}


}


@media (max-width:615px){
    footer .container .left .logo .texto p{
        font-size: 20px;
    }
    footer .socialMedia p, li, footer p{
        font-size: 20px;
    }
    footer .socialMedia h3{
        font-size: 20px;
    }
    footer .left .logo .texto h3{
        font-size: 35px;
    }     
    footer .logo img {
        height: 10%;
    } 
    footer .socialMedia, footer .left .logo .texto{
        width: 60%;
    }  
    footer .socialMedia li img{
        width: 80%;
    }
}
@media (max-width: 439px){
    footer .left .logo .texto {
        margin: 0;
        width: 100%;
        text-align: center;
    }
    footer .left .logo .texto p{
        text-align: center;
        margin: 0;
        width: auto;
        font-size: 20px;
    }
    footer .left .logo .texto h3{
        font-size: 35px;
    } 
    footer .left .logo {
        display: block;
        text-align: center;
    }
    footer .texto {
        margin: 0;
    }
    .pop-up-wrapper .pop-up h2 {
        font-size: 1.6rem;
    }
    
}



