

@import url(‘https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap’);

*{
    box-sizing: border-box;
    outline: none; /*Isso remove a caixinha preta que aparecia ao selecionar um formulario */
}

/* POP-UP */

.pop-up-wrapper.active{
    visibility: visible;
    opacity: 1;
}

.pop-up-wrapper{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    
    visibility: hidden;
    opacity: 0;

    background: rgba(0, 0, 0, 0.6);
}

.pop-up-wrapper .pop-up{
    width: min(97%, 26rem);
    height: fit-content;
    position: fixed;

    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: #ffffff;
    border-radius: 0.2rem;

    visibility: hidden;
    opacity: 0;

    padding: 4rem 3rem;

    display: flex;
    flex-direction: column;
}

.pop-up-wrapper .pop-up>a, .pop-up-wrapper .pop-up>a img {
    width: 2.5rem;
    height: 2.5rem;
    align-self: flex-end;
}

.pop-up-wrapper .pop-up h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
    margin-bottom: 1rem;
}

.pop-up-wrapper .pop-up form {
    display: flex;
    flex-direction: column;
}

.pop-up-wrapper .pop-up label {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-left: 1rem;
}

a.esqueci {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #8B008B;
}

.pop-up form .input {
    display: flex;
    background-color: #FCF2F8;
    border:none;
    border-radius: 50px;
    padding: 0 15px;
    text-align: left;
    width: 100%;
}

.pop-up form .input input {
    background: none;
    user-select: none;
}

.pop-up-wrapper .pop-up form > input, .pop-up form .input {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.pop-up .button {
    align-self: flex-end;
    justify-self: flex-end;
}

.pop-up button {
    padding: 0.6rem 1.3rem;
}

.pop-up-wrapper .pop-up.active {
    visibility: visible;
    opacity: 1;
}

/* ------ */

body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color:  #702082;
}
.container{
    width: 800px;
    max-width: 90%;
    margin: 0 auto;
}

/* HEADER */
header .container{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
header ul{
    list-style: none;
    margin: 0;
}
header ul a{
    text-decoration: none;
    color: #702082;
}
header ul li{
    display: inline-block;
    padding: 0 12px;
}

.logo {
    display: flex;
    align-items: center;
}
.logo p, .banner h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0 0 0 10px;
    font-size: 25px;
}
.logo span, .banner h1>span{
    text-transform: uppercase;
    font-weight: 600;
}
/* Navegacao */
header #menu, header #sair{
    display: none;
}
.navegacao{
    display: flex;
    align-items: center;
}
.navegacao button{
    border:none;
    border-radius: 20px;
    background-color:#702082;
    color: white;
    padding: 12px;
    cursor: pointer;
}

/* BANNER */
.banner{
    margin-bottom: 70px;
}
.banner .container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.banner .left{
    width: 50%;
    padding: 60px 0;
}
.banner h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 65px;
    padding: 0;
    margin: 0 0 20px 0;
}
.banner .paragrafo{
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
    position: relative;
    padding-left: 40px;
}
.banner .left .paragrafo::before{
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    background-color:#702082;
}
button {
    border:none;
    border-radius: 20px;
    background-color:#702082;
    color: white;
    padding: 12px;
    cursor: pointer;
}
#imagem{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 338px;
    width: 255px;
}
/* ARTIGO/HOME */
/* Barra de pesquisa, botao e categorias */
.posts{
    margin-bottom: 50px;
}
.posts .container{
    width: 650px;
    max-width: 100%;
    margin: 0 auto;
}
.posts .barra{
    margin-bottom: 50px;
}
.posts .barra .topo{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.posts .barra .categorias ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}
.posts .barra input, .pop-up input{
    background-color: #FCF2F8;
    border:none;
    border-radius: 50px;
    padding: 15px;
    text-align: left;
    width: 100%;
}
.posts .barra input::placeholder, .pop-up input::placeholder{
    color:#702082;
    font-size: 15px;
}
.posts .barra input[type=text], .pop-up input[type=text]{
    color:#702082;
    font-size: 15px;
}
.posts .barra .categorias ul li a{
    text-decoration: none;
    color:#8B008B;
    padding-left: 20px;
}
.posts .barra button{
    border:none;
    border-radius: 50px;
    background-color:#702082;
    color: white;
    padding: 12px;
    cursor: pointer;
}
.posts .barra button img{
    width: 25px;
    margin: 0;
    padding: 0;
}
.posts #artigo{
    margin-left: 20px;
}
.posts .barra .categorias{
    display: flex;
    justify-content: center;
}

/* Postagens */
.janela div.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.janela .topo .post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.janela .topo .post img {
    margin: 20px 10px;
}
.janela .topo{
    position: relative;
    padding-right: 40px;
}
.janela .topo::after{
    content: " ";
    width: 10px;
    background-color:#702082;
    height: 100%;
    position: absolute;
    top: 0;
    right:0;
}
.janela>p{
    text-align: right;
    color:#8B008B;
    cursor: pointer;
}
.janela .postagens a{
    text-decoration: none;
    color: #702082;
}
/* FOOTER */
footer{
    background-color:#702082;
    color: white;
    font-weight: 200;
}
footer .container .conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    

}
footer .socialMedia ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;   
}
footer .logo{
    display: flex;
}
footer .left .logo .texto{
    margin-left: 30px;
    width: 60%;
}
footer span{
    text-transform: uppercase;
    font-weight: 600;
}
footer .left .logo .texto>p{
    font-size: 15px;
    font-weight: 200;
}
footer .left .logo .texto h3{
    font-size: 60px;
    font-weight: 200;
    margin: 0 0 10px 0;
}
footer .left>p{
    margin-top: 50px;
    margin-bottom: 0;
}
footer .container p{
    margin: 0;
    padding-bottom: 20px;
}
footer .socialMedia h3{
    text-transform: uppercase;
}
footer .socialMedia{
    width: 30%;
}

/* RESPONSIVIDADE */
@media (max-width:1024px){
    /* FOOTER */
    footer .socialMedia{
        align-items: center;
    }
    footer .left .logo .texto{
        margin-left: 10px;
        width: 50%;
    } 
    footer .left .logo .texto p{
        text-align: left;
    } 
    footer .left .logo .texto h3{
        font-size: 50px;
    }
    footer .socialMedia{
        width: 60%;
    }
}

@media (max-width:889px){
/* FOOTER E HEADER  */
footer .logo{
    justify-content: center;
    }
footer .container .conteudo{
    flex-wrap: wrap;
    justify-content: center;
}
footer .socialMedia h3{
    text-align: center;
}
footer .container p{
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}
header #menu{
    display: block;
    color: #702082;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    background-color: transparent;
    font-size: 25px;
    align-self: center;
}
.navegacao{
    display: none;
}
#menuMobile{
    text-align: left;
    position: fixed;
    z-index: 999;
    width: 33%;
    height: 100vh;
    padding: 2em;
    top: 0;
    right: 0;
    background: #702082;
    color:white;
}
#menuMobile ul li{
    display: block;
    margin: 0;
    padding: 5px 0;
}
#menuMobile ul {
    margin: 30px 0;
    padding: 0;
}
#menuMobile a{
    color: white;
}
header #sair{
    display: block;
    background-color: white;
    border-radius: 50px;
    padding: 5px;
}
header #sair img{
    width: 30px;
    height: auto;
}
header #cadastro button {
    background-color: white;
    color: #702082;
    margin-top: 30px;
}

}
@media (max-width:711px){
    .banner .left{
        width: 80%;
    }
    .banner .left h1{
        font-size: 40px;
    }
    .banner .container #img{
        margin: 0 auto;
    }
    .janela .topo .post {
        flex-wrap: wrap;
    }
    .posts .container{
        width: 50%;
    }
    .posts .barra, .posts .barra .categorias ul {
        display: none;
    }
}

@media (max-width:615px){
    footer .container .left .logo .texto p{
        font-size: 12px;
    }
    footer .socialMedia p, li, footer p{
        font-size: 12px;
    }
    footer .socialMedia h3{
        font-size: 15px;
    }
    footer .left .logo .texto h3{
        font-size: 30px;
    }     
    footer .logo img {
        height: 10%;
    } 
    footer .socialMedia, footer .left .logo .texto{
        width: 60%;
    }  
    footer .socialMedia li img{
        width: 80%;
    }
    /* REMOVE BAR POSTS */
    .janela .topo::after{
        content:none;
    }
    .janela .topo{
        padding: 0;
    }
    .janela .topo .post img {
        width: 100%;
        margin:0;
    }
}
@media (max-width: 300px){
    footer .left .logo .texto {
        margin: 0;
        width: 100%;
        text-align: center;
    }
    footer .left .logo .texto p{
        text-align: center;
    }
    footer .left .logo {
        display: block;
        text-align: center;
    }
    footer .texto {
        margin: 0;
    }  
}



