@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* :not(#menuMobile){
    box-sizing: content-box;
}

.container{
    width: 1000px;
    max-width: 90%;
    margin: 0 auto;
}
/* corpo 18, titulo 40 subtitulo 30 versao mobile corpo 20*/ 
body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    color:  #702082;
    font-size: 18px;
}
section#podcasts {
    width: 1000px;
    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 100px;
}
section#podcasts article{
    padding-bottom: 60px;
}
article.podcast img{
    margin-top: 30px;
    width: 200px;
    margin-right: 80px;
}
section#podcasts article .escritaarticle  h1{
    color: #702082;
    font-family: Poppins;
    font-size: 30px;
    line-height: 35px;
}
section#podcasts article .escritaarticle  p{
    color: #702082;
    font-family: Roboto;
    font-size: 18px;
    text-align: justify;
    line-height: 23px;
}
section#podcasts article{
    display: flex;
    align-items: center;
}
#intro{
    margin-bottom: 20px;
}
#intro h1{
    color: #702082;
    font-family: Poppins;
    font-size: 40px;
    line-height: 23px;
}
#intro p{
    color: #702082;
    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;
    text-align: justify;
}
@media (max-width: 800px) {
    .container{
        width: 1000px;
        max-width: 90%;
        margin: 0 auto;
    }
    section#podcasts {
        width: 1000px;
        max-width: 100%;
        margin: 0 auto;
    }
    #intro h1{
        color: #702082;
        font-family: Poppins;
        font-size: 30px;
        line-height: 35px;
    }
    section#podcasts article{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    #intro p{
        color: #702082;
        font-family: Roboto;
        font-size: 20px;
        line-height: 23px;
        text-align: justify;
    }

    .podcast {
        display: flex;
        justify-content: center;
    }

    #intro {
        margin-bottom: 20%;
    }
    article.podcast img {
        margin: 0;
    }

    .escritaarticle h1{
        text-align: center;
    }
}