@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@300;400;700&display=swap');

* :not(#menuMobile) {
    box-sizing: content-box;
}

.body {
    padding: 0;
    margin: 0;
}

.container {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

section.aboult {
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article.sobre{
    width: 50%;
}

article.sobre h1 {
    color: #702082;
    font-family: poppins, sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin: 0;
}

article.sobre p {
    color: #702082;
    font-family: roboto;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    line-height: 23px;
}

article.logomao img {
    width: 200px;
    padding: 30px 100px 0 100px;
}

.objetivos {
    display: flex;
    justify-content: space-between;
}

section.frase {
    width: 40%;
    color: #702082;
    font-family: poppins;
    font-weight: bold;
    font-size: 25px;
}

section.frase p span {
    width: 40%;
    color: #702082;
    font-family: poppins;
    font-weight: lighter;
    font-size: 18px;
}

section.objetivo{
    width: 45%;
    margin-top: 40px;
}

section.objetivo h2 {
    color: #702082;
    font-family: poppins, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

section.objetivo p{
    color: #702082;
    font-family: roboto;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    line-height: 23px;
    margin: 0;
} 

section.objetivo ul {
    list-style: none;
    padding: 0;
    line-height: 2rem;
    font-weight: 600;  
    margin-top: 10%;
}

section.objetivo ul li img{
    width: 50px;
    /* margin: 2% 3% 0% 0; */
}

section.objetivo li {
    font-family: "poppins", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    margin: 5% 0;
    display: flex;
    align-items: center;
    gap: 5%
}

h1#titulo {
    color: #702082;
    font-family: poppins, sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin: 0;
}

section.equipe {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section.equipe article {
    margin-top: 50px;
    width: 270px;
}

section.equipe article .person {
    width: 100%;
    height: 270px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

section.equipe h2 {
    color: #702082;
    font-family: poppins;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

section.equipe p {
    color: #702082;
    font-family: roboto;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 23px;
}

section.contatos h1{
    justify-content: flex-start;
    color: #702082;
    font-family: poppins, sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-top: 10%;
}

.contact {
    padding-bottom: 10%;
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

section.contatos p {
    color: #702082;
    font-family: roboto;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    line-height: 23px;
}

section.contatos a {
    padding: 5px;
    text-decoration: none;
    color: #702082;
}

/* LAYOUT RESPONSIVO */


@media (max-width: 1040px) {
    .container {
        width: 1000px;
        max-width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 769px) {
    
    .aboult, .objetivos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    article.sobre p,
    section.objetivo p,
    section.equipe p,
    section.contatos p {
        font-size: 20px;
    }

    article.sobre, section.objetivo{
        width: 100%;
    }

    section.aboult {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    article.logomao {
        padding:0;
        display: flex;
    }

    article.logomao img {
        width: 150px; 
    }
    
    section.frase {
        font-size: 20px;
        width: 100%;
    }

    section.frase p span {
        font-size: 15px;
    }

    .local iframe {
        width: 100%;
        padding-top: 15%;
    }

    article.sobre h1, h1#titulo, section.contatos h1{
        font-size: 40px;
    }

    #titulo {
        padding-top: 20%;
        text-align: center;
    }

    .contatos h1 {
        text-align: center;
        margin: 20% 0% 0% 0%;
    }

    .contact {
        display: flex;
        justify-content: center;
    }

    .icons {
        display: flex;
        justify-content: center;
    }

    article.redes p, a, img {
        text-align: center;
    }
}

@media (max-width: 370px) {

    section.objetivo li{
        font-size: 20px;
    }

    section.objetivo ul li img {
        width: 40px;
    }

    article.logomao img {
        width: 100px; 
    }
}

@media (max-width: 300px) {
    article.logomao img{
        display: none;
    }
}






